MESH_HOSTNAME=mesh.example.com
CF_API_TOKEN=your_cloudflare_token_with_zone_dns_edit
MESH_BASIC_USER=admin
# bcrypt hash with every $ doubled, see README
MESH_BASIC_HASH=$$2a$$14$$replace_me
TZ=Etc/UTC
